/* artikel */
.artikel {
  text-align: justify;
  color: #000;
}
.artikel-voet {
  text-align: right;
  font-size: 0.9em;
}

/* Nieuws inhoud */
/* Nieuws */
.afbeelding {
    float: left;
    width: 50px;
  }
  .nieuws {
    height: 90px;
    text-decoration: none;
    color: #000;
  }
  .nieuws-inhoud {
    height: 400px;
    width: 780px;
    float: right;
    background-color: #fff;
    color: #000;
    padding: 5px;
  }
.nieuws-afbeelding {
  float: left;
  width: 130px;
}
.nieuws-afbeelding a {
  padding-left: 10px;
}
.nieuws-tekst h3 {
  font-weight: bold;
}
